@import "tailwindcss";

@theme {
  --font-sans: "Kanit", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Noto Sans Thai", "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

.rounded-nw {
  border-radius: 15px;
}
